body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__right {
  flex: 0.2;
}
#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}
.main__controls__button > i {
  font-size: 20px;
  margin-bottom: 5px;
}

.leave_meeting {
  color: #eb534b;
}

.main__right {
  display: flex;
  flex-direction: column;
  background-color: #242324;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
}

.main__chat__window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__message__container {
  padding: 22px 12px;
  display: flex;
}

.main__message__container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.message {
  color: #f5f5f5;
  list-style-type: none;
}

.unmute,
.stop {
  color: #cc3b33;
}
